<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cats/tabs/your-cats"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : 'Cat details' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading" class="ion-margin ion-padding">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="secondary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img [src]="cat.img"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-left ion-padding ion-margin-vertical">
        <p><b>Breed name:</b> {{ cat.breedName }}</p>
        <p><b>Breed origin:</b> {{ cat.breedOrigin }}</p>
        <p><b>Vocalisation:</b> {{ cat.vocalisation }}</p>
        <p><b>Dog friendliness:</b> {{ cat.dogFriendly }}</p>
        <p><b>Affection level:</b> {{ cat.affectionLevel }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cat.editable" class="ion-margin-bottom ion-padding-bottom">
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center ion-margin-bottom ion-padding-bottom">
        <ion-button color="warning" (click)="editCat()">
          Edit
        </ion-button>
        <ion-button color="danger" (click)="deleteCat()">
          Delete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
