<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/cats/tabs/your-cats/' + catId"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Cat</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="editCat()" [disabled]="!editCatForm?.valid">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading" class="ion-margin ion-padding">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" size-xl="4.5" offset-xl="3.75" class="ion-text-center">
        <ion-spinner color="secondary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="editCatForm" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <ion-item>
            <ion-label position="floating">Image URL</ion-label>
            <ion-input
              type="text"
              [formControl]="imgInput"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="imgInput.invalid && imgInput.touched">
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <p class="ion-no-margin ion-padding-horizontal">Please add a valid image URL</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <ion-item>
            <ion-label position="floating">Breed name</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              [formControl]="breedInput"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="breedInput.invalid && breedInput.touched">
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <p class="ion-no-margin ion-padding-horizontal">Please add a breed name, you can use "mixed breed" if unsure</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <ion-item>
            <ion-label position="floating">Breed origin</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              [formControl]="breedOriginInput"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="breedOriginInput.invalid && breedOriginInput.touched">
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <p class="ion-no-margin ion-padding-horizontal">Please add a breed origin, you can type "unknown" if unsure</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <ion-item>
            <ion-label position="floating">Vocalisation (0-5)</ion-label>
            <ion-input
              type="number"
              [formControl]="vocalisationInput"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="vocalisationInput.invalid && vocalisationInput.touched">
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <p class="ion-no-margin ion-padding-horizontal">Please add the cat's meowing level</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <ion-item>
            <ion-label position="floating">Dog friendliness (0-5)</ion-label>
            <ion-input
              type="number"
              [formControl]="dogFriendlyInput"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dogFriendlyInput.invalid && dogFriendlyInput.touched">
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <p class="ion-no-margin ion-padding-horizontal">Please add the cat's dog friendliness level</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <ion-item>
            <ion-label position="floating">Affection level (0-5)</ion-label>
            <ion-input
              type="number"
              [formControl]="affectionInput"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="affectionInput.invalid && affectionInput.touched">
        <ion-col size-sm="6" offset-sm="3" size-xl="4.5" offset-xl="3.75">
          <p class="ion-no-margin ion-padding-horizontal">Please add the cat's affection level</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
