ion-content {
    // --background-image: url('../../assets/images/error-page.jpg'); 
    // --background-position: center center;
    // --background-repeat: no-repeat;
    // --background-size: cover;
    --background: url('../../assets/images/error-page.jpg') no-repeat center center / cover;
}

ion-grid {
    background-color: rgba(255, 255, 255, 0.473);   
}

.toolbar-logo {
    width: 30px;
}

.logo-col{
    justify-content: flex-end;
    display: flex;
    padding-right: 20px;
}

p {
    text-align: left;
}

@media only screen and (min-width: 600px) { 
    p {
      text-align: center 
    }
}