<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
      <ion-row class="ion-justify-content-start ion-align-items-center">
          <ion-col size="10">
            <ion-title class="ion-no-padding">
              Woof!
            </ion-title>
          </ion-col>
          <ion-col size="2" class="logo-col">
            <a href="/cats/tabs/all-cats"><ion-img class="toolbar-logo" src="../../assets/images/cat-shelter-logo-white.png"></ion-img></a>
          </ion-col>
      </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size-xl="4.5" offset-xl="3.75">
        <p>There are no cats over here, but there are many cats in our shelter looking for a loving home</p>
        <ion-button fill="solid" color="secondary" class="ion-margin-vertical" routerLink="/cats/tabs/all-cats">
          <ion-icon slot="start" name="paw-outline"></ion-icon>
          Discover cats
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
