<ion-header>
  <ion-toolbar>
    <ion-title>Cat Shelter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Breed: {{ loadedCats[0].breed_name }}</ion-card-title>
            <ion-card-subtitle
              > Breed Origin: {{ loadedCats[0].breed_origin }} </ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="loadedCats[0].img"></ion-img>
          <ion-card-content>
            <p>{{ loadedCats[0].breed_name }}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="[
                '/',
                'cats',
                loadedCats[0].id
              ]"
            >
              Details
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item
            *ngFor="let cat of loadedCats.slice(1)"
            [routerLink]="['/', 'cats', cat.id]"
            detail
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="cat.img"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ cat.breed_name }}</h2>
              <p>{{ cat.breed_origin }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
